.diagnostic {
  text-align: center;
  max-width: 128rem;
  margin: 4rem auto;
  width: 95%;
  animation: show 2s ease;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.diagnostic h2 {
  font-size: var(--larger);
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 1rem;
}
.diagnostic h3 {
  font-size: var(--large);
  color: var(--secondary1);
  font-weight: bold;
  margin: 2rem 0;
}
@media (max-width: 768px) {
  .diagnostic h2 {
    font-size: var(--xsl);
  }
  .diagnostic h3 {
    font-size: var(--xxl);
  }
}

.index_container {
  box-shadow: 2px 2px 16px var(--light-blue);
  padding: 2rem;
  border-radius: 1.5rem;
  transition: all 0.8s;
  margin-bottom: 2rem;
}
/* .index_container:hover {
  box-shadow: 2px 2px 10px var(--primary);
} */
.index_container h4 {
  font-size: var(--large);
  color: var(--primary);
}
@media (max-width: 768px) {
  .index_container h4 {
    font-size: var(--xsl);
    margin-bottom: 1rem;
  }
}
.main_index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  place-items: center;
}

@media (max-width: 768px) {
  .main_index {
    grid-template-columns: 1fr;
  }
}

.index_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
}

.index_bar .progressbar {
  max-width: 30rem;
  width: 80%;
}

.index_bar span {
  font-size: var(--xxl);
  color: var(--secondary);
  font-weight: bold;
}

.index_description img {
  height: 20rem;
}
@media (max-width: 768px) {
  .index_description img {
    height: 12rem;
  }
}
.index_description p {
  font-size: var(--xxl);
  color: var(--black);
}

@media (max-width: 768px) {
  .index_bar span {
    font-size: var(--lg);
  }
  .index_description p {
    font-size: var(--md);
  }
}

.index_description button {
  background-color: var(--primary);
  outline: none;
  border: none;
  color: var(--white);
  font-size: var(--md);
  text-transform: uppercase;
  padding: 1rem 3rem;
  width: fit-content;
  border-radius: 1rem;
  cursor: pointer;
  transition: ease 0.3s all;
  font-weight: bold;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 4rem;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .index_description button {
    font-size: var(--sm);
    gap: 0;
    padding: 1rem 0.5rem;
  }
}
.index_description button img {
  width: 3rem;
}

.index_description button:hover {
  background-color: var(--primary-hover);
  transform: scale(1.05);
}

.indexes_container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.category_index {
  padding: 2rem;
  box-shadow: 2px 2px 16px var(--light-blue);
  width: 32%;
  min-width: 30rem;
  border-radius: 1.5rem;
  display: grid;
  gap: 1rem;
  transition: all 0.8s;
}

@media (max-width: 767px) {
  .category_index {
    max-width: 100%;
    width: 100%;
  }
}

/* @media (max-width: 1024px) {
  .category_index {
    width: 48%;
  }
} */

@media (max-width: 500px) {
  .category_index {
    min-width: 30rem;
    width: 100%;
  }
}
.category_index:hover {
  box-shadow: 2px 2px 10px var(--primary);
}
.redhover:hover {
  box-shadow: 2px 2px 10px #f57070;
}
.bluehover:hover {
  box-shadow: 2px 2px 10px var(--secondary);
}
.orangehover:hover {
  box-shadow: 2px 2px 10px var(--primary);
}

.category_index h5 {
  font-size: var(--xs);
  color: var(--primary);
}
.category_index div {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .category_index div strong {
    font-size: var(--large);
    margin-top: -1rem;
  }
}
.category_index span {
  font-size: var(--xl);
  color: var(--secondary);
  font-weight: bold;
}
.category_index p {
  font-size: var(--md);
  color: var(--black);
}
