.container {
  max-width: 128rem;
  margin: 8rem auto;
  width: 95%;
  display: grid;
  grid-template-columns: 70% 1fr;
  gap: 1rem;
  place-items: center;
  position: relative;
  animation: show 2s ease;
}

.container h2 {
  font-size: var(--larger);
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 1rem;
}
.container h3 {
  font-size: var(--large);
  color: var(--secondary1);
  font-weight: normal;
}

.form {
  font-size: var(--xsl);
  color: var(--gray);
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.form .question {
  padding: 8rem 0 3rem 0;
}
.form .question:last-of-type {
  padding: 5rem 0 0 0;
}
.form .question:first-of-type {
  padding: 3rem 0 0 0;
}
.form p {
  margin-bottom: 1rem;
  color: var(--primary);
  font-weight: bold;
}

.form_answer_container {
  margin-left: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 1rem;
}

.grid .input {
  display: grid;
  grid-template-columns: 10% 1fr;
  align-items: center;
}
.input input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 1rem;
}

.input input[type="radio"]::before {
  content: "";
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary-hover);
}

.input input[type="radio"]:checked {
  color: var(--primary-hover);
}
.input input[type="radio"]:checked + label {
  color: var(--primary-hover);
}

.input input[type="radio"]:checked::before {
  transform: scale(1);
}

.form button {
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: var(--lg);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 3rem;
  cursor: pointer;
  max-width: 30rem;
  width: 100%;
  align-self: start;
}

.form button:hover {
  background-color: var(--primary-hover);
  transform: scale(1.02);
}

.form span {
  font-size: var(--sm);
  color: var(--secondary);
  background-color: #daedfc;
  padding: 1rem 2rem;
  width: fit-content;
  border-radius: 1rem;
  animation: show ease 0.5s;
  margin-top: -1rem;
}

.circular_progressbar {
  position: fixed;
  top: 20rem;
  right: 10rem;
}
.bg_image {
  position: fixed;
  top: 25rem;
  height: 30rem;
  z-index: -2;
  opacity: 0.1;
  right: calc(50% - 15rem);
}
.progressbar {
  background-color: var(--primary);
  height: 6rem;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  color: var(--white);
  font-size: var(--lg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressbar_container {
  max-width: 128rem;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.progressbar_container h4 {
  transition: all ease 1s;
}
.progressbar_container img {
  animation: show 1s ease;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg_container {
  background-color: var(--primary-hover);
  width: 30%;
  height: 2rem;
  border-radius: 4rem;
  display: flex;
  overflow: hidden;
}
.bg {
  height: 100%;
  background-color: var(--white);
  border-radius: 4rem;
  transition: all ease 0.5s;
}
