.chart_container {
  width: 90rem;
  height: 60rem;
  position: relative;
}

.chart_container .chart {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.chart_container .logo {
  width: 4.5rem;
  position: absolute;
  z-index: 3;
}
