.footer {
  background-color: var(--primary);
  color: var(--white);
  font-size: var(--md);
  padding: 6rem 0;
}

.report {
  background-color: none;
}

.footer_container {
  max-width: 128rem;
  margin: 0 auto;
  width: 95%;
  text-align: center;
}

.box1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}
.box1 h6 {
  font-size: var(--md);
}

.box1 img {
  width: 4rem;
  margin: 0 auto;
}
.box2 {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .box1 {
    gap: 1rem;
  }
  .box2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
