.header {
  padding: 1rem;
  box-shadow: 1px 1px 10px var(--gray);
  animation: fadeIn 1s ease;
  /* position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10; */
  background-color: var(--white);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header > div {
  max-width: 128rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav_container {
  display: flex;
  gap: 2rem;
}

@media (max-width: 767px) {
  .nav_container {
    gap: 1rem;
  }
}

.header img {
  width: 15rem;
}
.header nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}
@media (max-width: 992px) {
  .header nav {
    display: none;
  }
}
@media (min-width: 992px) {
  .header span {
    display: none !important;
    z-index: -1;
  }
}
.header nav a {
  font-size: var(--md);
  font-weight: bold;
  color: var(--black);
  line-height: 2rem;
}
.header nav a:hover {
  transition-property: color;
  transition-duration: 0.3s;
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}
.header nav .link_active {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}
.header nav button {
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: var(--md);
  font-weight: bold;
}
.header nav button:hover {
  background-color: var(--primary-hover);
  cursor: pointer;
}

.menu_icon {
  cursor: pointer;
}

.language_dropdown {
  display: flex;
  gap: 0.5rem;
  place-items: center;
  cursor: pointer;
  position: relative;
}

.language_dropdown img:nth-of-type(1) {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.language_dropdown img:nth-of-type(2) {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
}

.container_dropdown {
  background-color: var(--white);
  padding: 1rem;
  position: absolute;
  bottom: -5rem;
  /* display: none; */
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px var(--gray);
  cursor: pointer;
  width: 7rem;
  left: calc(50% - 3.9rem);
}

.flex {
  display: flex;
}

.none {
  animation: hideDropDown ease 0.3s forwards;
}

.lan_link {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.on_click .container_dropdown {
  animation: showDropDown ease 0.3s forwards;
}

@keyframes showDropDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.on_close .container_dropdown {
  animation: hideDropDown ease 0.3s forwards;
}

@keyframes hideDropDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
    display: none;
  }
}

.on_click .arrow {
  animation: twist ease 0.3s forwards;
}

.on_close .arrow {
  animation: twist_back ease 0.3s forwards;
}

@keyframes twist {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes twist_back {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.container_dropdown p {
  font-size: var(--sm);
  color: var(--gray-intense);
  font-weight: bold;
}
