.header {
  padding: 1rem;
  box-shadow: 1px 1px 10px var(--gray);
  animation: fadeIn 1s ease;
  /* position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10; */
  background-color: var(--white);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header div {
  max-width: 128rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header img {
  width: 15rem;
}
.header nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}
@media (max-width: 992px) {
  .header nav {
    display: none;
  }
}
@media (min-width: 992px) {
  .header span {
    display: none !important;
    z-index: -1;
  }
}
.header nav a {
  font-size: var(--md);
  font-weight: bold;
  color: var(--black);
  line-height: 2rem;
}
.header nav a:hover {
  transition-property: color;
  transition-duration: 0.3s;
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}
.header nav .link_active {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}
.header nav button {
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: var(--md);
  font-weight: bold;
}
.header nav button:hover {
  background-color: var(--primary-hover);
  cursor: pointer;
}

.menu_icon {
  cursor: pointer;
}
