.header {
  max-width: 128rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: solid 1px var(--gray);
}
.header img {
  width: 15rem;
}
.header nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}
@media (max-width: 992px) {
  .header nav {
    display: none;
  }
}
.header nav a {
  font-size: var(--md);
  font-weight: bold;
  color: var(--black);
  line-height: 2rem;
}
.header nav a:hover {
  transition-property: color;
  transition-duration: 0.3s;
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}
.header nav .link_active {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}
.header nav button {
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: var(--md);
  font-weight: bold;
}
.header nav button:hover {
  background-color: var(--primary-hover);
  cursor: pointer;
}
