.hero_section {
  background: linear-gradient(0deg, var(--primary) 2%, transparent 53%);
}

.hero {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  max-width: 128rem;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.hero div {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin-top: -8rem;
  align-items: center;
}
@media (max-width: 768px) {
  .hero div {
    margin-top: 1rem;
  }
}
.hero h1 {
  font-size: 4rem;
  color: var(--black);
  text-align: center;
  color: var(--primary);
  width: 75%;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: var(--large);
  }
}

.hero h3 {
  background-color: var(--light-blue);
  padding: 1rem;
  border-radius: 1.5rem;
  color: var(--secondary);
  font-size: var(--lg);
  font-weight: bold;
  width: max-content;
}

@media (max-width: 425px) {
  .hero h3 {
    font-size: var(--sm);
  }
}

.hero button {
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: var(--md);
  font-weight: bold;
  width: max-content;
  margin-top: 1rem;
}
.hero button:hover {
  background-color: var(--primary-hover);
  cursor: pointer;
}
.hero img {
  width: 100%;
  margin-right: 2rem;
  animation-name: floating;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  margin-top: -2rem;
}

@keyframes floating {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 3%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@media (max-width: 767px) {
  .hero img {
    margin-top: -5rem;
    margin-right: 0;
  }
}
