.facts_section {
  background-color: var(--white);
  padding: 6rem 0;
}

.container {
  max-width: 128rem;
  width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
}

.stage {
  display: grid;
  gap: 2rem;
  width: 25%;
  place-items: center;
  background-image: linear-gradient(
    to top,
    var(--primary-light) 50%,
    transparent 50%
  );
  text-align: center;
  padding: 0rem 1rem 3rem 1rem;
  border-radius: 1.5rem;
}

.stage h4 {
  font-size: var(--xxl);
  color: var(--gray-intense);
  font-weight: bold;
  border: 3px solid var(--primary);
  border-radius: 1rem;
  padding: 1rem;
}
/* .stage img {
  width: 70%;
} */

.stage span {
  color: var(--warn-black);
  font-size: var(--lg);
  font-weight: bold;
  text-transform: uppercase;
}

.stage li {
  color: var(--white);
  font-size: var(--md);
}
