.report {
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.report h2 {
  font-size: var(--larger);
  font-weight: bold;
  color: var(--gray);
  margin: 3rem;
}
.report h3 {
  font-size: var(--large);
  color: var(--primary);
}

.report .percentaje_result {
  font-size: 5rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 30px var(--primary-hover);
  margin-top: 1rem;
}

.report span {
  font-size: var(--lg);
  font-weight: bold;
  color: var(--primary);
  margin-top: 1rem;
}

.report p {
  font-size: var(--xxl);
  color: var(--gray-intense);
  max-width: 100rem;
  text-align: center;
  width: 100%;
}

.index_container {
  margin-top: 2rem;
  display: grid;
  gap: 3rem;
}

.chart_container {
  width: 90rem;
  height: 60rem;
  position: relative;
}

.chart_container .chart {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.chart_container .logo {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 2rem;
  right: 30rem;
}

.radarChart_container {
  background-color: var(--white);
}

.radarChart_container div {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

.radarChart_container div canvas {
  border-radius: 50%;
  padding: 2rem;
}
