.section1 {
  padding: 4rem 0;
}

.container {
  max-width: 128rem;
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 5rem;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
.container img {
  order: 2;
}

.container div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 768px) {
  .container img {
    margin-top: -6rem;
  }
}
.container h2 {
  font-size: var(--large);
  color: var(--primary);
}

.container p {
  font-size: var(--xl);
  font-weight: 600;
  color: var(--secondary);
}

.container button {
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  font-size: var(--lg);
  font-weight: bold;
  width: max-content;
  margin-top: 1rem;
  text-transform: uppercase;
}

.container button:hover {
  background-color: var(--primary-hover);
  cursor: pointer;
}
