.facts_section {
  background-color: var(--black);
  padding: 6rem 0;
}
.facts_container {
  max-width: 128rem;
  width: 95%;
  margin: 0 auto;
}
.facts_container h2 {
  color: var(--primary);
  font-size: var(--larger);
  font-weight: bold;
  text-align: center;
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .facts_container h2 {
    font-size: var(--xsl);
    margin-bottom: 2rem;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 3rem;
    place-items: center;
  }
}
.progressbar {
  width: 30rem;
}
.box_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.box {
  font-size: var(--xsl);
  color: var(--white);
  background-color: var(--darkgray);
  padding: 3rem 2rem;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 16px var(--black);
}

.box strong {
  color: var(--primary);
}

.solution {
  max-width: 60rem;
  background-color: var(--darkgray);
  border-radius: 1.5rem;
  max-height: 50rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  animation: show ease 0.5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.solution:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 15px var(--primary);
}
@media (max-width: 768px) {
  .solution {
    width: 100%;
    max-height: none;
    /* max-width: 40rem; */
  }
  .solution:hover {
    transform: scale(1.01);
  }
}

.solution img {
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  height: 60%;
  object-fit: cover;
}
.solution div {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 767px) {
  .solution div {
    padding: 1rem;
  }
}

.solution h4 {
  color: var(--white);
  font-size: var(--xsl);
  font-weight: bold;
}

.solution p {
  color: var(--gray);
  font-size: var(--lg);
}

.solution button {
  padding: 1rem 6rem;
  background-color: var(--primary);
  border-radius: 1.5rem;
  color: var(--white);
  font-size: var(--lg);
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .solution h4 {
    font-size: var(--lg);
  }
  .solution p {
    font-size: var(--md);
  }
  .solution button {
    font-size: var(--md);
  }
}

.solution button:hover {
  background-color: var(--primary-hover);
}
