/* ----------------Global settings-----------------*/
:root {
  /* -----------------Fonts--------------------  */
  --main-font: Helvetica;
  /* ------------------Colors------------------- */
  --primary: #e57716;
  --primary-hover: #ee8f3c;
  --primary-light: #f9c925;
  --secondary1: #b0cbd2;
  --secondary: #1a9af7;
  --secondary-light: #daedfc;
  --secondary-hover: #3aa8f7;
  --warn-black: #201e1c;
  --black: #201e1c;
  --white: rgb(255, 255, 255);
  --gray: #bababa;
  --light-gray: #e7f5ff;
  --light-blue: #cfe1ee;
  --darkgray: #282623;
  --gray-intense: #828282;
  --red: #f57070;
  /* ----------------Font Sizes -----------------*/
  --sm: 1.2rem;
  --md: 1.4rem;
  --sd: 1.6rem;
  --lg: 1.6rem;
  --xl: 1.8rem;
  --xxl: 2rem;
  --xs: 2.2rem;
  --xsl: 2.4rem;
  --large: 3rem;
  --larger: 3.6rem;
  /* ----------------Font Sizes -----------------*/
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

/* ----------------Global Styles-----------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
html {
  font-family: var(--main-font);
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}
/*---------------- Scrollbar ----------------*/
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-hover);
}
